{% extends 'base.html' %}
{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row ms-10">

                <h5>Following</h5>
        
                {% for person in followings %}
                <div class="card mb-3">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="{{person.user.profile.profile_pic.url}}" class="img-fluid rounded-start p-3" alt="No picture">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">{{person.user}}</h5>
                          
                            <a href="{% url 'add-follower' person.user.id %}" class="btn btn-ouline-success">following</a>
                          
                          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                      </div>
                    </div>
                </div>
                {% endfor %}
        </div>
        </div>
        <div class="col-4"></div>
    </div>
</div>
{% endblock %}